// Dark Theme
$primary: #3722ab;
$secondary: #3832c6;
$success-primary: '';
$success-background: '';
$danger-primary: '';
$danger-background: '';
$background: #171362;
$text: #b5b1d6;
$text-secondary: #daa1e6;

// Light Theme$primary
$primary-light: '';
$secondary-light: '';
$success-primary-light: '';
$success-background-light: '';
$danger-primary-light: '';
$danger-background-light: '';
$background-light: #b5b1d6;
$text-light: #171362;
$text-secondary-light: #b5b1d6;
